<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.em_projects.movies4d"
    android:versionCode="2"
    android:versionName="2.0"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Min/target SDK versions (<uses-sdk>) managed by build.gradle -->

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="com.google.android.things.permission.USE_PERIPHERAL_IO" />

    <!-- YouTube Internet access Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Ref: https://stackoverflow.com/questions/27095077/how-do-i-use-toolsoverridelibrary-in-a-build-gradle-file -->
    <!--uses-sdk tools:overrideLibrary="android.support.v17.leanback"/-->
    <uses-sdk tools:overrideLibrary="com.google.android.things.contrib.driver.button"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- Chat activities -->
        <activity
            android:name="com.em_projects.movies4d.bluetoothchat.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.em_projects.movies4d.bluetoothchat.DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/select_device"
            android:theme="@android:style/Theme.Holo.Dialog" />

        <!-- Audio Activities -->
        <activity
            android:name="com.em_projects.movies4d.audio.A2dpSinkActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".audio.A2DPActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme" />

        <!-- YouTube Activity -->
        <!-- Ref: https://stackoverflow.com/questions/35591413/make-my-app-appear-in-youtube-share -->
        <activity
            android:name=".youtube.YouTubePlayerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

    </application>

</manifest>
